.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3%;
  a {
    text-decoration: none;
    color: #ff6060;
    font-size: 24px;
  }
  .nav-active {
    border-bottom: solid #ff6060;
  }
}
