.About {
  display: flex;
  flex-direction: column;
  .Banner {
    margin-top: 3%;
  }
  .Accordion {
    width: 80%;
    align-self: center;
    margin-bottom: 7%;
    .textDescription {
      padding-top: 7%;
      text-align: justify;
    }
  }
}
